body {
 
    font-family: 'Inter', sans-serif;
}


.hero {
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 66px 300px;
    color: #4d4d4d;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.5;
}

.hero p{
    font-size: 11px;
    color: #717171;
    font-weight: 400;
    text-align: left;
}

.hero a {
    background-color: #4caf4f;
    color: white;
    font-size: 11px;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 22px;

}


.hero span {
    color: #4caf4f
}

.hero-img {
    max-width: 100%;

    height: auto;
    
}

.carousel {
    background-color: #f5f7fa;
    }


.dot {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.clients {
    text-align: center;
    color: #4d4d4d;
}

.clients-logos {
    display: flex;
      
    justify-content: space-around;
      align-items: center; 
        flex-wrap: nowrap;
        padding: 10px 300px;
}

.clients p{
    font-size: 11px;
        color: #717171;
        font-weight: 400;
        
}

.logo {
    max-width: 100px;
    
    height: auto;
}

.whofor {
    margin-top: 30px;
    padding: 0 100px
}


.whofor h2, h3, p {
    text-align: center;
    color: #4d4d4d;
}

.whofor p {
    font-size: 11px;
    color: #717171;
    font-weight: 400;

}

.targetaudience {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    
    justify-content: center;
    
    align-items: center;
    
    padding: 0 100px;
}

.targetaudience>div {
    max-width: 210px;
    
    margin: 0 auto;
    
    text-align: center;
   
}


.history {
    display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 66px 300px;
        color: #4d4d4d;
}

.history p {
    font-size: 11px;
    color: #717171;
    font-weight: 400;

}

.history a {
    background-color: #4caf4f;
    color: white;
    font-size: 11px;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 22px;

}

.hero-img {
    max-width: 100%;

    height: auto;

}

@media (max-width: 768px) {

    .hero,
    .history {
        flex-direction: column;
        padding: 20px;
     
    }

    .clients-logos,
    .targetaudience {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        
    }

    .logo {
        flex: 0 0 20%;
        max-width: 20%;
        margin: 10px;
    }

    .targetaudience {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}