body {
 
    font-family: 'Inter', sans-serif;
    padding: 0 20px;
}


.hero {
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 66px 300px;
    color: #4d4d4d;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.5;
}

.hero p{
    font-size: 11px;
    color: #717171;
    font-weight: 400;
    text-align: left;
}

.hero a {
    background-color: #4caf4f;
    color: white;
    font-size: 11px;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 22px;

}


span {
    color: #4caf4f
}

.hero-img {
    max-width: 100%;

    height: auto;
    
}

.carousel {
    background-color: #f5f7fa;
    }


.dot {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.clients {
    text-align: center;
    color: #4d4d4d;
}

.clients-logos {
    display: flex;
      
    justify-content: space-around;
      align-items: center; 
        flex-wrap: nowrap;
        padding: 10px 300px;
}

.clients p{
    font-size: 11px;
        color: #717171;
        font-weight: 400;
        
}

.logo {
    max-width: 100px;
    
    height: auto;
}

.whofor {
    margin-top: 30px;
    padding: 0 100px
}


.whofor h2, h3, p {
    text-align: center;
    color: #4d4d4d;
}

.whofor p {
    font-size: 11px;
    color: #717171;
    font-weight: 400;

}

.targetaudience {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    
    justify-content: center;
    
    align-items: center;
    
    padding: 0 100px;
}

.targetaudience>div {
    max-width: 210px;
    
    margin: 0 auto;
    
    text-align: center;
   
}


.history {
    display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 66px 300px;
        color: #4d4d4d;
}

.history p {
    font-size: 11px;
    color: #717171;
    font-weight: 400;

}

.history a {
    background-color: #4caf4f;
    color: white;
    font-size: 11px;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 22px;

}

.hero-img {
    max-width: 100%;

    height: auto;

}


.container {
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-between;
    padding: 44px 300px;
    color: #4d4d4d;
    align-items: center;
    
}

.text-section {
    flex: 1;
    
    padding: 20px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
   
    padding: 20px;
}

.grid-item {
    display: flex;
    
    align-items: center;
   
    text-align: left;
    padding: 20px;
}

.grid-img {
    
    width: 30px;
    
    margin-right: 20px;
    
    height: auto;
    
}


.grid-item h2,
.grid-item p {
    margin: 0;
    
}

.container p {
    font-size: 11px;
    color: #717171;
    font-weight: 400;
    text-align: left;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
        
        /* Reduced padding */
    }

    .text-section,
    .grid-section {
        padding: 10px 0;
        /* Adjusted padding for vertical stacking */
    }

    .grid-section {
        grid-template-columns: 1fr;
        /* Single column grid */
    }

    .hero,
    .history {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px;
        /* Center content for a better mobile experience */
    }

    .hero h1,
    .history h2 {
        font-size: 2rem;
        /* Slightly smaller for smaller screens */
    }

    .clients-logos,
    .targetaudience {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 10px;
        
    }

    .clients-logos .logo,
    .targetaudience .icon {
        width: 60px;
        
        margin: 10px;
        
    }

    .targetaudience>div {
         {
                width: 100%;
                
                max-width: none;
                
                padding: 10px;
                
            }
    }

           .targetaudience {
               grid-template-columns: 1fr;
            padding: 0 10px;
            gap: 30px;
           }
        
        .whofor{
            padding: 0 10px;
        }
        }

@media (max-width: 375px) {

    
    body {
        padding: 0 10px;
       
    }

    .hero h1,
    .history h2,
    .text-section h2 {
        font-size: 1.5rem;
        
    }

   
}